repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2  # Keep in sync with locked version
    hooks:
    -   id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1  # Keep in sync with locked version
    hooks:
    -   id: django-upgrade
        args: [--target-version, "5.2"]   # Replace with Django version
